.login-card{
    width: 400px;
    margin: auto;
    border-radius: 10% !important;
}

.login-content{

    display: flex;
    justify-content: center;
}

.login-user{
    width: 90%;
    margin: 10px !important;
    background-color:white;
}

.login-pass{
    width: 90%;
    margin: 10px !important;
    background-color:white;
}

.card-action{
    display: flex;
    justify-content: flex-end;
}